
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
html,
h1 {
color: #333d79;
        text-align: center;
        font-family: "NanumSquare", sans-serif;
        font-weight: 700;
        font-size: 40px;
}
h2 {
color: #333d79;
font-family: "NanumSquare", sans-serif;
font-weight: 550;
}
h3 {
color: #333d79;
font-family: "NanumSquare", sans-serif;
font-weight: 550;
}
p {
color: #333d79;
font-family: "NanumSquare", sans-serif;
}
hr {
background-color: #333d79;
height: 3px;
border: 0px;
}
button {
width: 180px;
height: 50px;
background: #333d79;
border-radius: 20px;
border: 0;
color: #ffffff;
font-family: "NanumSquare", sans-serif;
font-size: 22px;
font-weight: 500;
}